<a href="https://colab.research.google.com/github/richdied/Python_Data_Analytics_and_Visualization/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import seaborn as sns
DF = sns.load_dataset('titanic')

In [3]:
DF.head(10)

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True
5         0       3    male   NaN  ...   NaN   Queenstown     no   True
6         0       1    male  54.0  ...     E  Southampton     no   True
7         0       3    male   2.0  ...   NaN  Southampton     no  False
8         1       3  female  27.0  ...   NaN  Southampton    yes  False
9         1       2  female  14.0  ...   NaN    Cherbourg    yes  False

[10 rows x 15 columns]

In [6]:
DF.shape

(891, 15)

In [7]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [8]:
DF['deck'].value_counts(dropna = False)

NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

In [9]:
DF.head(10).isnull()

   survived  pclass    sex    age  ...   deck  embark_town  alive  alone
0     False   False  False  False  ...   True        False  False  False
1     False   False  False  False  ...  False        False  False  False
2     False   False  False  False  ...   True        False  False  False
3     False   False  False  False  ...  False        False  False  False
4     False   False  False  False  ...   True        False  False  False
5     False   False  False   True  ...   True        False  False  False
6     False   False  False  False  ...  False        False  False  False
7     False   False  False  False  ...   True        False  False  False
8     False   False  False  False  ...   True        False  False  False
9     False   False  False  False  ...   True        False  False  False

[10 rows x 15 columns]

In [10]:
DF.isnull().sum(axis = 0)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [11]:
DF.head(10).notnull()

   survived  pclass   sex    age  ...   deck  embark_town  alive  alone
0      True    True  True   True  ...  False         True   True   True
1      True    True  True   True  ...   True         True   True   True
2      True    True  True   True  ...  False         True   True   True
3      True    True  True   True  ...   True         True   True   True
4      True    True  True   True  ...  False         True   True   True
5      True    True  True  False  ...  False         True   True   True
6      True    True  True   True  ...   True         True   True   True
7      True    True  True   True  ...  False         True   True   True
8      True    True  True   True  ...  False         True   True   True
9      True    True  True   True  ...  False         True   True   True

[10 rows x 15 columns]

In [12]:
DF.isnull().sum(axis = 0)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [13]:
DF.dropna(thresh = 300, axis = 1).shape

(891, 14)

In [14]:
DF.shape

(891, 15)

In [15]:
DF.dropna(subset = ['age'], how = 'any', axis = 0).shape

(714, 15)

In [16]:
DF['age'].head(10)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64

In [17]:
DF['age'].fillna(int(DF['age'].mean(axis = 0)), inplace = True)

In [18]:
DF['age'].head(10)

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5    29.0
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64

In [19]:
DF['embark_town'][825:830]

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829            NaN
Name: embark_town, dtype: object

In [20]:
most_freq = DF['embark_town'].value_counts(dropna = True).idxmax()

In [21]:
most_freq

'Southampton'

In [22]:
DF['embark_town'].fillna(most_freq, inplace = True)

In [23]:
DF = sns.load_dataset('titanic')

In [24]:
DF['embark_town'][828:831]

828    Queenstown
829           NaN
830     Cherbourg
Name: embark_town, dtype: object

In [25]:
DF['embark_town'].fillna(method = 'ffill', inplace = True)

In [26]:
DF['embark_town'][828:831]

828    Queenstown
829    Queenstown
830     Cherbourg
Name: embark_town, dtype: object

In [27]:
DF['embark_town'].fillna(method = 'bfill', inplace = True)

In [28]:
DF['embark_town'][828:831]

828    Queenstown
829    Queenstown
830     Cherbourg
Name: embark_town, dtype: object

In [29]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
DF = titanic.loc[:, ['age','fare']].head()

In [30]:
DF

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [31]:
DF.apply(sum, axis = 0)

age     156.0000
fare    147.6083
dtype: float64

In [32]:
DF.apply(sum, axis = 1)

0     29.2500
1    109.2833
2     33.9250
3     88.1000
4     43.0500
dtype: float64

In [33]:
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [34]:
titanic.head(3)

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True

[3 rows x 15 columns]

In [35]:
Filter_1 = (titanic.age >= 10) & (titanic.age < 20)
titanic.loc[Filter_1, :].head()

    survived  pclass     sex   age  ...  deck  embark_town  alive  alone
9          1       2  female  14.0  ...   NaN    Cherbourg    yes  False
14         0       3  female  14.0  ...   NaN  Southampton     no   True
22         1       3  female  15.0  ...   NaN   Queenstown    yes   True
27         0       1    male  19.0  ...     C  Southampton     no  False
38         0       3  female  18.0  ...   NaN  Southampton     no  False

[5 rows x 15 columns]

In [53]:
Filter_2 = (titanic.age < 10) & (titanic.sex == 'female')
titanic.loc[Filter_2, :].head().round()

     survived  pclass     sex  age  ...  deck  embark_town  alive  alone
10          1       3  female  4.0  ...     G  Southampton    yes  False
24          0       3  female  8.0  ...   NaN  Southampton     no  False
43          1       2  female  3.0  ...   NaN    Cherbourg    yes  False
58          1       2  female  5.0  ...   NaN  Southampton    yes  False
119         0       3  female  2.0  ...   NaN  Southampton     no  False

[5 rows x 15 columns]

In [52]:
Filter_3 = (titanic.age < 10) | (titanic.age >= 60)
titanic.loc[Filter_3, ['age','sex','alone']].head().round()

     age     sex  alone
7    2.0    male  False
10   4.0  female  False
16   2.0    male  False
24   8.0  female  False
33  66.0    male   True

    survived  pclass     sex   age  ...  deck  embark_town  alive  alone
7          0       3    male   2.0  ...   NaN  Southampton     no  False
16         0       3    male   2.0  ...   NaN   Queenstown     no  False
24         0       3  female   8.0  ...   NaN  Southampton     no  False
27         0       1    male  19.0  ...     C  Southampton     no  False
50         0       3    male   7.0  ...   NaN  Southampton     no  False
59         0       3    male  11.0  ...   NaN  Southampton     no  False

[6 rows x 15 columns]

In [39]:
import pandas as pd
DF1 = pd.DataFrame({'HP': ['hp0', 'hp1', 'hp2', 'hp3'],
                    'IBM': ['ibm0', 'ibm1', 'ibm2', 'ibm3'],
                    'DELL': ['dell0', 'dell1', 'dell2', 'dell3']},
                    index = [0, 1, 2, 3])
DF1

    HP   IBM   DELL
0  hp0  ibm0  dell0
1  hp1  ibm1  dell1
2  hp2  ibm2  dell2
3  hp3  ibm3  dell3

In [40]:
DF2 = pd.DataFrame({'HP': ['hp2', 'hp3', 'hp4', 'hp5'],
                    'IBM': ['ibm2', 'ibm3', 'ibm4', 'ibm5'],
                    'DELL': ['dell2', 'dell3', 'dell4', 'dell5'],
                    'ASUS': ['asus2', 'asus3', 'asus4', 'asus5']},
index = [2, 3, 4, 5])

In [41]:
DF2

    HP   IBM   DELL   ASUS
2  hp2  ibm2  dell2  asus2
3  hp3  ibm3  dell3  asus3
4  hp4  ibm4  dell4  asus4
5  hp5  ibm5  dell5  asus5

In [42]:
pd.concat([DF1,DF2], axis=0)

    HP   IBM   DELL   ASUS
0  hp0  ibm0  dell0    NaN
1  hp1  ibm1  dell1    NaN
2  hp2  ibm2  dell2    NaN
3  hp3  ibm3  dell3    NaN
2  hp2  ibm2  dell2  asus2
3  hp3  ibm3  dell3  asus3
4  hp4  ibm4  dell4  asus4
5  hp5  ibm5  dell5  asus5

In [43]:
pd.concat([DF1, DF2], axis = 0, ignore_index = True)

    HP   IBM   DELL   ASUS
0  hp0  ibm0  dell0    NaN
1  hp1  ibm1  dell1    NaN
2  hp2  ibm2  dell2    NaN
3  hp3  ibm3  dell3    NaN
4  hp2  ibm2  dell2  asus2
5  hp3  ibm3  dell3  asus3
6  hp4  ibm4  dell4  asus4
7  hp5  ibm5  dell5  asus5

In [45]:
pd.concat([DF1, DF2], axis = 1, join = 'inner')

    HP   IBM   DELL   HP   IBM   DELL   ASUS
2  hp2  ibm2  dell2  hp2  ibm2  dell2  asus2
3  hp3  ibm3  dell3  hp3  ibm3  dell3  asus3

In [46]:
pd.concat([DF1, DF2], axis = 1, join = 'outer')

    HP   IBM   DELL   HP   IBM   DELL   ASUS
0  hp0  ibm0  dell0  NaN   NaN    NaN    NaN
1  hp1  ibm1  dell1  NaN   NaN    NaN    NaN
2  hp2  ibm2  dell2  hp2  ibm2  dell2  asus2
3  hp3  ibm3  dell3  hp3  ibm3  dell3  asus3
4  NaN   NaN    NaN  hp4  ibm4  dell4  asus4
5  NaN   NaN    NaN  hp5  ibm5  dell5  asus5

In [47]:
pd.merge(DF1, DF2)

    HP   IBM   DELL   ASUS
0  hp2  ibm2  dell2  asus2
1  hp3  ibm3  dell3  asus3

In [48]:
pd.merge(DF1, DF2, how = 'outer')

    HP   IBM   DELL   ASUS
0  hp0  ibm0  dell0    NaN
1  hp1  ibm1  dell1    NaN
2  hp2  ibm2  dell2  asus2
3  hp3  ibm3  dell3  asus3
4  hp4  ibm4  dell4  asus4
5  hp5  ibm5  dell5  asus5

In [49]:
pd.merge(DF1, DF2, how = 'left')

    HP   IBM   DELL   ASUS
0  hp0  ibm0  dell0    NaN
1  hp1  ibm1  dell1    NaN
2  hp2  ibm2  dell2  asus2
3  hp3  ibm3  dell3  asus3

In [50]:
pd.merge(DF1, DF2, how = 'right')

    HP   IBM   DELL   ASUS
0  hp2  ibm2  dell2  asus2
1  hp3  ibm3  dell3  asus3
2  hp4  ibm4  dell4  asus4
3  hp5  ibm5  dell5  asus5

In [55]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
DF = titanic.loc[:, ['age', 'sex', 'class', 'fare', 'survived']]
DF.head()

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0

In [56]:
grouped = DF.groupby(['class'])
grouped

In [57]:
for key in ['First', 'Second', 'Third']:
  print(grouped.get_group(key).head(3))
  print('\n')

    age     sex  class     fare  survived
1  38.0  female  First  71.2833         1
3  35.0  female  First  53.1000         1
6  54.0    male  First  51.8625         0


     age     sex   class     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
17   NaN    male  Second  13.0000         1


    age     sex  class   fare  survived
0  22.0    male  Third  7.250         0
2  26.0  female  Third  7.925         1
4  35.0    male  Third  8.050         0

In [58]:
grouped.mean()

              age       fare  survived
class
First   38.233441  84.154687  0.629630
Second  29.877630  20.662183  0.472826
Third   25.140620  13.675550  0.242363

In [60]:
grouped.get_group('Third').head(3)

    age     sex  class   fare  survived
0  22.0    male  Third  7.250         0
2  26.0  female  Third  7.925         1
4  35.0    male  Third  8.050         0

In [61]:
grouped_TWO = DF.groupby(['class', 'sex'])
grouped_TWO

In [62]:
for key, group in grouped_TWO:
  print('* key :', key)
  print('* number :', len(group))
  print(group.head(3))
  print('\n')

* key : ('First', 'female')
* number : 94
     age     sex  class     fare  survived
1   38.0  female  First  71.2833         1
3   35.0  female  First  53.1000         1
11  58.0  female  First  26.5500         1


* key : ('First', 'male')
* number : 122
     age   sex  class      fare  survived
6   54.0  male  First   51.8625         0
23  28.0  male  First   35.5000         1
27  19.0  male  First  263.0000         0


* key : ('Second', 'female')
* number : 76
     age     sex   class     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
41  27.0  female  Second  21.0000         0


* key : ('Second', 'male')
* number : 108
     age   sex   class  fare  survived
17   NaN  male  Second  13.0         1
20  35.0  male  Second  26.0         0
21  34.0  male  Second  13.0         1


* key : ('Third', 'female')
* number : 144
     age     sex  class     fare  survived
2   26.0  female  Third   7.9250         1
8   27.0  female  Third  11.1333         1
10   4.0  female  Third  16.7000         1


* key : ('Third', 'male')
* number : 347
    age   sex  class    fare  survived
0  22.0  male  Third  7.2500         0
4  35.0  male  Third  8.0500         0
5   NaN  male  Third  8.4583         0

In [63]:
grouped_TWO.mean()

                     age        fare  survived
class  sex
First  female  34.611765  106.125798  0.968085
       male    41.281386   67.226127  0.368852
Second female  28.722973   21.970121  0.921053
       male    30.740707   19.741782  0.157407
Third  female  21.750000   16.118810  0.500000
       male    26.507589   12.661633  0.135447

In [64]:
grouped_TWO.get_group(('First', 'female')).head(3)

     age     sex  class     fare  survived
1   38.0  female  First  71.2833         1
3   35.0  female  First  53.1000         1
11  58.0  female  First  26.5500         1

In [65]:
grouped.agg(['mean', 'std'])

              age                  fare             survived
             mean        std       mean        std      mean       std
class
First   38.233441  14.802856  84.154687  78.380373  0.629630  0.484026
Second  29.877630  14.001077  20.662183  13.417399  0.472826  0.500623
Third   25.140620  12.495398  13.675550  11.778142  0.242363  0.428949

In [66]:
grouped_TWO.agg(['mean', 'std'])

                     age                   fare             survived
                    mean        std        mean        std      mean       std
class  sex
First  female  34.611765  13.612052  106.125798  74.259988  0.968085  0.176716
       male    41.281386  15.139570   67.226127  77.548021  0.368852  0.484484
Second female  28.722973  12.872702   21.970121  10.891796  0.921053  0.271448
       male    30.740707  14.793894   19.741782  14.922235  0.157407  0.365882
Third  female  21.750000  12.729964   16.118810  11.690314  0.500000  0.501745
       male    26.507589  12.159514   12.661633  11.681696  0.135447  0.342694

In [67]:
grouped.fare.agg(['min', 'max'])

        min       max
class
First   0.0  512.3292
Second  0.0   73.5000
Third   0.0   69.5500

In [68]:
grouped.agg({'fare' : ['min', 'max'], 'age' : ['mean', 'std']})

       fare                  age
        min       max       mean        std
class
First   0.0  512.3292  38.233441  14.802856
Second  0.0   73.5000  29.877630  14.001077
Third   0.0   69.5500  25.140620  12.495398

In [69]:
DF.head(3)

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1

In [70]:
def z_score(x) :
  return (x - x.mean()) / x.std()

In [71]:
DF['z_score'] = grouped.age.transform(z_score)

In [72]:
DF.head(3)

    age     sex  class     fare  survived   z_score
0  22.0    male  Third   7.2500         0 -0.251342
1  38.0  female  First  71.2833         1 -0.015770
2  26.0  female  Third   7.9250         1  0.068776

In [73]:
grouped.filter(lambda x : len(x) >= 200).head(3)

    age     sex  class     fare  survived   z_score
0  22.0    male  Third   7.2500         0 -0.251342
1  38.0  female  First  71.2833         1 -0.015770
2  26.0  female  Third   7.9250         1  0.068776

In [74]:
grouped.apply(len)

class
First     216
Second    184
Third     491
dtype: int64

In [75]:
grouped.filter(lambda x: x.age.mean() < 30 ).tail(3)

      age     sex   class   fare  survived   z_score
886  27.0    male  Second  13.00         0 -0.205529
888   NaN  female   Third  23.45         0       NaN
890  32.0    male   Third   7.75         0  0.548953

In [76]:
grouped.age.mean()

class
First     38.233441
Second    29.877630
Third     25.140620
Name: age, dtype: float64

In [77]:
grouped.apply(lambda x: x.describe())

                     age        fare    survived       z_score
class
First  count  186.000000  216.000000  216.000000  1.860000e+02
       mean    38.233441   84.154687    0.629630 -6.327077e-17
       std     14.802856   78.380373    0.484026  1.000000e+00
       min      0.920000    0.000000    0.000000 -2.520692e+00
       25%     27.000000   30.923950    0.000000 -7.588698e-01
       50%     37.000000   60.287500    1.000000 -8.332452e-02
       75%     49.000000   93.500000    1.000000  7.273299e-01
       max     80.000000  512.329200    1.000000  2.821520e+00
Second count  173.000000  184.000000  184.000000  1.730000e+02
       mean    29.877630   20.662183    0.472826 -7.043178e-17
       std     14.001077   13.417399    0.500623  1.000000e+00
       min      0.670000    0.000000    0.000000 -2.086099e+00
       25%     23.000000   13.000000    0.000000 -4.912215e-01
       50%     29.000000   14.250000    0.000000 -6.268304e-02
       75%     36.000000   26.000000    1.000000  4.372785e-01
       max     70.000000   73.500000    1.000000  2.865663e+00
Third  count  355.000000  491.000000  491.000000  3.550000e+02
       mean    25.140620   13.675550    0.242363 -1.241573e-16
       std     12.495398   11.778142    0.428949  1.000000e+00
       min      0.420000    0.000000    0.000000 -1.978378e+00
       25%     18.000000    7.750000    0.000000 -5.714600e-01
       50%     24.000000    8.050000    0.000000 -9.128318e-02
       75%     32.000000   15.500000    0.000000  5.489525e-01
       max     74.000000   69.550000    1.000000  3.910190e+00

In [78]:
grouped.apply(lambda x : x.age.mean() < 30)

class
First     False
Second     True
Third      True
dtype: bool

In [80]:
DF_3 = pd.pivot_table(DF,
                     index = ['class', 'sex'],
                     columns = 'survived',
                     values = ['age','fare'],
                     aggfunc = ['mean','max'])
DF_3

                    mean                         ...   max
                     age                   fare  ...   age    fare
survived               0          1           0  ...     1       0         1
class  sex                                       ...
First  female  25.666667  34.939024  110.604167  ...  63.0  151.55  512.3292
       male    44.581967  36.248000   62.894910  ...  80.0  263.00  512.3292
Second female  36.000000  28.080882   18.250000  ...  55.0   26.00   65.0000
       male    33.369048  16.022000   19.488965  ...  62.0   73.50   39.0000
Third  female  23.818182  19.329787   19.773093  ...  63.0   69.55   31.3875
       male    27.255814  22.274211   12.204469  ...  45.0   69.55   56.4958

[6 rows x 8 columns]

In [81]:
DF_3.index

MultiIndex([( 'First', 'female'),
            ( 'First',   'male'),
            ('Second', 'female'),
            ('Second',   'male'),
            ( 'Third', 'female'),
            ( 'Third',   'male')],
           names=['class', 'sex'])

In [82]:
DF_3.columns

MultiIndex([('mean',  'age', 0),
            ('mean',  'age', 1),
            ('mean', 'fare', 0),
            ('mean', 'fare', 1),
            ( 'max',  'age', 0),
            ( 'max',  'age', 1),
            ( 'max', 'fare', 0),
            ( 'max', 'fare', 1)],
           names=[None, None, 'survived'])

In [83]:
DF_3.xs('First', axis = 0)

               mean                         ...   max
                age                   fare  ...   age    fare
survived          0          1           0  ...     1       0         1
sex                                         ...
female    25.666667  34.939024  110.604167  ...  63.0  151.55  512.3292
male      44.581967  36.248000   62.894910  ...  80.0  263.00  512.3292

[2 rows x 8 columns]

In [84]:
DF_3.xs(('First','female'), axis = 0)

            survived
mean  age   0            25.666667
            1            34.939024
      fare  0           110.604167
            1           105.978159
max   age   0            50.000000
            1            63.000000
      fare  0           151.550000
            1           512.329200
Name: (First, female), dtype: float64

In [85]:
DF_3.xs('male', level = 'sex', axis = 0)

               mean                        ...   max
                age                  fare  ...   age    fare
survived          0          1          0  ...     1       0         1
class                                      ...
First     44.581967  36.248000  62.894910  ...  80.0  263.00  512.3292
Second    33.369048  16.022000  19.488965  ...  62.0   73.50   39.0000
Third     27.255814  22.274211  12.204469  ...  45.0   69.55   56.4958

[3 rows x 8 columns]

In [86]:
DF_3.xs(('First', 'male'), level = ['class', 'sex'], axis = 0)

                 mean                               max
                  age              fare             age         fare
survived            0       1         0         1     0     1      0         1
class sex
First male  44.581967  36.248  62.89491  74.63732  71.0  80.0  263.0  512.3292

In [88]:
DF_3.xs('mean', axis = 1)

                     age                   fare
survived               0          1           0           1
class  sex
First  female  25.666667  34.939024  110.604167  105.978159
       male    44.581967  36.248000   62.894910   74.637320
Second female  36.000000  28.080882   18.250000   22.288989
       male    33.369048  16.022000   19.488965   21.095100
Third  female  23.818182  19.329787   19.773093   12.464526
       male    27.255814  22.274211   12.204469   15.579696

In [89]:
DF_3.xs(('mean', 'fare'), axis = 1)

survived                0           1
class  sex
First  female  110.604167  105.978159
       male     62.894910   74.637320
Second female   18.250000   22.288989
       male     19.488965   21.095100
Third  female   19.773093   12.464526
       male     12.204469   15.579696

In [90]:
DF_3.xs(('max','age', 0), level = [0, 1, 'survived'], axis = 1)

                max
                age
survived          0
class  sex
First  female  50.0
       male    71.0
Second female  57.0
       male    70.0
Third  female  48.0
       male    74.0

In [91]:
DF_3.xs(1, level = 'survived', axis = 1)

                    mean               max
                     age        fare   age      fare
class  sex
First  female  34.939024  105.978159  63.0  512.3292
       male    36.248000   74.637320  80.0  512.3292
Second female  28.080882   22.288989  55.0   65.0000
       male    16.022000   21.095100  62.0   39.0000
Third  female  19.329787   12.464526  63.0   31.3875
       male    22.274211   15.579696  45.0   56.4958